.header {
  background-color: #b31bf9;
  display: table;
  width: 100%;
}

.content-header {
  display: table-cell;
  vertical-align: middle;
}

.name-border {
  position: relative;
  display: inline-block;
  border: 2px dotted darkgray;
  background-color: gray;
  border-radius: 75%;
  width: 50px;
  height: 50px;
}

.back-button{
    color: #fff;
    background-color: #a57cb8;
    border-color: #b31bf9;
}
